body {
    margin: 0;
    padding: 0;
  }
  
  /*Modal styling*/
  .bg-modal {
    width: 100%;
    height: 100%;
    background-color: #003366;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    width: 50%;
    height: 70vh;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    padding: 5%;
    position: relative;
    box-shadow: 10px 10px 10px #aaaaaa;
    margin: 0 25%;
  }
  
  .modal-content img {
    width: 100px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(50%);
  }
  
  
  textarea::placeholder {
    color: black;
  }
  
  .label-flex {
    display: flex;
    justify-content: space-between;
  }
  
  form input {
    background: #fff;
    outline: none;
    border: none;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    background-color: #7c9ca8;
  }
  
  .label-flex #label-from,
  #label-to {
    color: black;
  }
  
  label {
    float: left;
  }
  
  #compose-button {
    display: flex;
    margin: -15px auto;
    justify-content: center;
  }
  #draft {
    outline: none;
    background-color: rgba(31, 56, 95, 0.9);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  #send {
    outline: none;
    background-color: green;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    font-size: 15px;
  }
  
  button {
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 1px 2px 1px 0px black;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
  }
  
  .modal-content a {
    text-decoration: none;
    color: black;
  }
  
  textarea {
    width: 100%;
    height: 7rem;
    margin-bottom: 5%;
    margin-top: 1%;
  }
  
  .textarea-div{
    width: 100%;
  }
  
  /* CSS specific to Inbox mail*/
  p {
    font-family: sans-serif;
    font-size: 1.2vw;
    text-align: justify;
  }
  
  /*media query for inbox*/
  @media (max-width: 808px) {
    p {
      font-family: sans-serif;
      font-size: 1.5w;
    }
  }
  
  
  @media (max-width: 786px) {
    p {
      font-family: sans-serif;
      font-size: 1.5vw;
    }
  }
  
  @media (max-width: 745px) {
    p {
      font-size: 3.0vw;
    }
  }
  
  @media (max-width: 436px) {
    p {
      font-size: 4.0vw;
    }
  }
  
  @media (max-width: 761px) {
    p {
      font-family: sans-serif;
      font-size: 1.5vw;
    }
  }
  
  @media (max-width: 283px) {
    p {
      font-size: 5.0vw;
    }
  }
  
  @media (max-width: 693px) {
    p {
      font-size: 2.0vw
    }
  }
  
  @media (max-width: 230px) {
    p {
      font-size: 5.5vw;
      font-weight: bolder;
    }
  }
  
  /*media query for compose mail*/
  @media (max-width: 643px) {
    .bg-modal {
      max-width: 100%;
    }
  }
  
  @media (max-width: 568px) {
    #compose-button {
      margin-top: 5%;
    }
  }
  
  @media (max-width: 632px) {
    .bg-modal {
      max-width: 100%;
    }
  }
  
  @media (max-width: 570px) {
    .modal-content {
      width: 80%!important;
      margin: 0;
    }
  
    textarea {
      margin: 0;
    }
  }
  
  @media (min-width: 577px) {
     textarea {
      margin-top: 10%;
    }
  }
  
  @media (min-width: 1100px) {
    .modal-content {
      height: 70vh;
    }
  
    textarea {
      height: 7rem;
    }
  }
  
  