body {
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.menu-container {
    height: 100vh;
    flex: 0.8;
    background: #003366;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    margin-right: 20px;
}

.user-info {
    border: #efefef 1px solid;
    padding: 10px;
    background: #4b4b4b;
}

.user-info img {
    height: 100px;
    width: 100px;
    cursor: pointer;
    box-shadow: 1px 2px 1px 0px black;
}

.user-info .name {
    text-align: center;
    color: #fff;
}

.menu-actions {
    margin-top: 50px;
}

.menu-actions > a {
    text-decoration: none;
}

.menu-actions div:active {
    background-color: orange;
}
.menu-actions  div {
    padding: 5px;
    background: gray;
    transition: transform .2s;
    margin-bottom: 20px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 2px 1px 0px black;
}

.menu-actions div:hover {
    transform: scale(1.5);
}

.email-container {
    height: 100vh;
    flex: 3.5;
    background: #003366;
    border-radius: 10px;
    padding: 10px;
}



/* ////////////////////////////////////////////// */
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th,
td {
text-align: left;
padding: 8px;
}

th.items-head {
text-align: center;
}

tr:nth-child(even) {
background-color: #cccccc
}

tr:nth-child(odd) {
background-color: #efefef
}


tr td:first-child {
    font-weight: bold
}

tr td a {
    text-decoration: none;
    color: rgb(66, 45, 200);
  }

.hamburger {
    font-weight: bold;
    color: #fff;
    font-size: 30px;
    display: none;
    cursor: pointer;
    background: #003366;
    height: 40px;
    width: 40px;
    text-align: center;
    box-shadow: 1px 2px 1px 0px black;
    margin-right: 10px;
    position: relative;
    z-index: 5;
}

@media (max-width: 630px) {
    .menu-container {
        display: none;
        box-shadow: 1px 2px 1px 1px gray;
    }

    .hamburger {
        display: block;
        margin-bottom: 10px; 
    }

    .main-container {
        padding: 20px 10px;
        flex-direction: column;
    }
}