form h2 {
    color: white;
    letter-spacing: 3px;
}

form input[type="submit"] {
    text-align: center;
    margin-top: 12px;
}
@media (max-width: 370px) {
    #form-id h2 {
      letter-spacing: 1px;
      font-size: small;
    }
  }

  @media (max-width: 220px) {
    form input[type="submit"] {
      text-align: center;  
      width: 90%;
    }
  }

  